:root {
    --color-theme: #121212;
    --contrast-color: #fafafc;
    --complementary-color: #fa4547;
    --paper-color: #2b2b2b;
    --dark-color: #2b2b2b;
    --footer-color: #121212;
    --shadow-color: #24001157;

    --text-font: "Noto Sans", sans-serif;
}

header .barsBtn {
    background-image: url("../images/bars-d-icon.svg");
}

header .xBtn {
    background-image: url("../images/x-d-icon.svg");
}

header #menuNavigator {
    background-color: var(--dark-color);
}

header #menuNavigator ul#list .forget input[type="reset"] {
    background-image: url("../images/logout-d-icon.svg");
}


header #menuNavigator ul#list li a {
    color: var(--contrast-color);
}

header #menuNavigator ul#list li a:hover, .forget input[type="reset"]:hover {
    color: #FD887A;
}

header #menuNavigator ul#list li.enter-account input[type="submit"], .forget input[type="reset"] {
    color: var(--contrast-color);
}

header #menuNavigator ul#list .main-menu-list input[type="button"] {
    background-color: var(--contrast-color);
    color: black;
}

header #homeLogo {
    background-image: url("../images/searchfor-dark-logo.png");
}

header a.cart-icon {
    background-image: url("../images/cart-d-icon.svg");
}

aside#filterField #formFilter #searchBtn {
    background-color: #fa4547;
}

aside#filterField #formFilter #searchBtn:hover {
    background-color: red;
}

aside#filterField #formFilter div.wrapper input#searchTerm {
    background-color: var(--color-theme);
    color: var(--contrast-color);
}

aside#filterField #formFilter div.wrapper div.results {
    background-color: var(--contrast-color);
}

aside#filterField #formFilter select {
    background-color: var(--color-theme);
    color: var(--contrast-color);
}

main {
    background-color: var(--color-theme);
    color: var(--contrast-color);
}

main > section > p {
    background-color: #FD887A;
    color: black;
}

main > section > div.product-footer {
    background-color: #FD887A;
    color: black;
}

main section#special-thanks ul li a, #special-thanks > p a {
    color: var(--contrast-color);
}

#profile-section .shop, .forgetBtn {
    background-color: var(--color-theme);
    color: var(--contrast-color);
    border: 1px solid black;
}

form #editingTool {
    background-image: url("../images/edit-d-icon.svg");
}

form #rememberCheck {
    background-image: url("../images/check-d-icon.svg");
}

aside#totalCost {
    background-color: var(--color-theme);
    color: var(--contrast-color);
}

footer .home-footer-link {
    background-color: transparent;
    background-image: url("../images/searchfor-dark-logo.png");
}

footer nav ul li a {
    color: var(--contrast-color);
}