header #menuNavigator {
    width: 400px;
    z-index: 3;
    transition: left .4s ease-in-out;
}

.menu-expanded {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 52px;
    z-index: 2;
    /* transition: 1s ease; */
}

#formFilter {
    max-width: 940px;
    margin: auto;
}

aside#filterField #formFilter select {
    margin-left: calc(846px);
}

main {
    max-width: 940px;
}

footer {
    text-align: left;
}