main section {
    height: 430px;
}

main section div.product-header {
    text-align: right;
}

main section button.remove-btn {
    background-color: rgb(255, 218, 218);
    background-image: url("../images/remove-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 84%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
}

main > section > div.product-footer > p {
    display: inline-block;
    font-style: normal;
    font-size: larger;
    margin: 4px 8px;
    transform: none;
}

main section form input[type="text"] {
    display: inline-block;
    text-align: center;
    width: 30px;
    margin-left: 9px;
}

main div.product-main {
    display: block;
    text-align: center;
    padding: 10px 0px;
}

main div.product-main button.plus-btn {
    background-image: url("/images/plus-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

main div.product-main button.minus-btn {
    background-image: url("/images/minus-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-left: 4px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

main div.product-footer {
    background-color: var(--color-theme);
    text-align: center;
    width: 80%;
    margin: auto;
    transform: skew(-20deg);
}

aside#totalCost {
    background-color: white;
    color: black;
    text-align: center;
    width: 94vw;
    margin: 10px auto;
    padding: 12px 0px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px var(--shadow-color);
}