main {
    padding: 10px;
    min-height: 120px;
}

main aside section {
    background-color: aquamarine;
    font-style: normal;
    width: 37.5px;
    height: 37.5px;
    margin: 0px;
    padding: 0px;
    /* border-radius: 10px; */
}

main aside section img {
    cursor: pointer;
}

section {
    /* background-color: white; */
    width: 94vw;
    /* min-height: 100px; */
    margin: auto;
    margin-top: 20px;
    padding: 12px;

}

section button {
    display: block;
    background-color: #f9e6e6;
    width: 50%;
    margin: 12px auto;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #240011;
    cursor: pointer;
}

/* .profile-select {
    position: absolute;
    display: inline-block;
    background-image: url("../images/edit-switch-icon.png");
    background-size: 90%;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
} */

.profile-gallery {
    /* position: absolute; */
    display: block;
    /* background-color: rgb(66, 145, 118); */
    max-width: 163px;
    max-height: 80px;
    margin: auto;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

form {
    /* text-align: left; */
    padding: 10px;
}

form > img {
    background-image: url("../images/edit-switch-icon.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    cursor: pointer;
}

form p {
    background-image: url("../images/edit-icon.png");
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 1em;
}

/* form .user-description, input[type="submit"] {
    display: inline-block;
} */

/* form input[type="submit"] {
    height: 120px;
    padding: 0px 45px;
    border-radius: 50%;
    border: none;
} */