main {
    min-height: 100%;
    padding: 35px 0px;
    box-shadow: 0px 1px 2px 0px var(--shadow-color);
}

main .full-img {
    display: block;
    width: fit-content;
    margin: auto;
}

main aside section {
    font-style: normal;
    width: 23%;
    height: 50%;
    margin: 2px;
    padding: 0px;
    border-radius: 6px;
}

main aside section img {
    cursor: pointer;
}

section {
    width: 94vw;
    margin-top: 20px;
    padding: 12px;
}

section .shop, .forgetBtn {
    display: block;
    background-color: #f9e6e6;
    color: black;
    font-size: small;
    text-decoration: none;
    text-align: center;
    width: 50%;
    margin: 12px auto;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #240011;
    cursor: pointer;
}

.thumb-bar {
    display: block;
    max-width: 216px;
    margin: auto;
    margin-top: 10px;
}

form {
    padding: 10px;
}

form textarea {
    max-width: 301px;
    font-size: medium;
    padding: 6px;
    resize: none;
    margin-top: 10px;
}

form .edit, .rememberInfo, .reset {
    display: inline-block;
}

form #editingTool {
    background-color: transparent;
    background-image: url("../images/editor-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

form #rememberCheck {
    background-color: transparent;
    background-image: url("../images/check-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

footer > div {
    width: fit-content;
    margin: auto;
}