main {
    padding: 35px 0px;
    min-height: 120px;
}

main .full-img {
    display: block;
    width: fit-content;
    margin: auto;
}

/* main .full-img, h2 {
    display: inline-block;
} */

main aside section {
    background-color: aquamarine;
    font-style: normal;
    width: 37.5px;
    height: 37.5px;
    margin: 0px;
    padding: 0px;
    
    /* border-radius: 10px; */
}

main aside section img {
    cursor: pointer;
}

section {
    /* background-color: white; */
    width: 94vw;
    /* min-height: 100px; */
    /* margin: auto; */
    margin-top: 20px;
    padding: 12px;

}

section .shop, .forgetBtn {
    display: block;
    background-color: #f9e6e6;
    color: black;
    font-size: small;
    text-decoration: none;
    text-align: center;
    width: 50%;
    margin: 12px auto;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #240011;
    cursor: pointer;
}

.thumb-bar {
    /* position: absolute; */
    display: block;
    /* background-color: rgb(66, 145, 118); */
    max-width: 163px;
    max-height: 80px;
    margin: auto;
    margin-top: 10px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

form {
    /* text-align: left; */
    padding: 10px;
}

form textarea {
    /* height: 30px; */
    max-width: 301px;
    font-size: medium;
    padding: 6px;
    resize: none;
    margin-top: 10px;
}

form .edit, .rememberInfo, .reset {
    display: inline-block;
    /* cursor: ; */
}

form #editingTool {
    background-image: url("../images/editor-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

form #rememberCheck {
    background-color: transparent;
    background-image: url("../images/check-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}
/* form .user-description, input[type="submit"] {
    display: inline-block;
} */

/* form input[type="submit"] {
    height: 120px;
    padding: 0px 45px;
    border-radius: 50%;
    border: none;
} */