@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-theme: #ff7d66;
    --contrast-color: #240011;
    --complementary-color: #FF674D;
    --paper-color: #ffa899;
    --bright-color: #f9e6e6;
    --footer-color: rgb(15, 15, 15);
    --shadow-color: #2400119e;

    --text-font: "Noto Sans", sans-serif;
}

* {
    font-family: var(--text-font);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var(--paper-color);
    width: 100vw;
    height: 100vh;
}

header {
    position: relative;
    background-color: var(--color-theme);
    width: 100vw;
    height: 51px;
}

header button#menuBtn {
    position: absolute;
    background-color: transparent;
    background-image: url("../images/menu-bar.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 87%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translate(0%, -50%);
}

header ul {
    position: absolute;
    background-color: var(--bright-color);
    width: 100vw;
    padding-bottom: 4px;
    top: 51px;
}

header ul li.enter-account {
    background-color: var(--contrast-color);
    padding: 6px;
}

header ul li.enter-account button {
    background-color: transparent;
    color: white;
    font-size: medium;
    border: none;
    cursor: pointer;
}

header span#enterAccount {
    color: var(--contrast-color);
    text-decoration: none;
}

header ul li a:focus-within {
    outline-color: var(--color-theme);
}

header span#enterAccount:hover {
    cursor: pointer;
}

header a.cart-icon {
    position: absolute;
    background-image: url("../images/cart-icon.png");
    background-repeat: no-repeat;
    background-size: 90%;
    width: 40px;
    height: 40px;
    top: 50%;
    left: calc(100% - 46px);
    transform: translate(0%, -50%);
}

form.callout {
    position: absolute;
    background-color: var(--color-theme);
    width: 80vw;
    border-radius: 4px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form.callout > div.heading-log-group {
    background-color: var(--complementary-color);
    padding: 9px;
    border-radius: 4px 4px 0px 0px;
}

button#closeBtn {
    position: absolute;
    background-color: transparent;
    color: var(--contrast-color);
    font-size: larger;
    font-weight: bold;
    border: none;
    cursor: pointer;
    top: 0px;
    left: calc(100% - 21px);
}

form.callout > div.log-group {
    padding: 9px;
}

input#accountName {
    width: 100%;
    margin: 2px 0px;
}

header input[type="submit"], input[type="reset"] {
    background-color: var(--bright-color);
    width: 100%;
    margin-top: 9px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

div.callout > div.log-group > button:hover {
    outline: auto;
}

#navFilter {
    background-color: white;
    text-align: right;
    width: 94vw;
    margin: 20px auto;
    padding: 6px;
}

#navFilter input#searchTerm {
    width: calc(100% - 30px);
}

#searchBtn {
    display: inline-block;
    background-color: transparent;
    background-image: url("../images/search-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
}

main {
    background-color: white;
    width: 94vw;
    min-height: 200px;
    margin: auto;
    padding: 80px 0px 35px 0px;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 0px 1px 2px 0px var(--shadow-color);
    z-index: 1;
}

main section {
    display: inline-block;
    text-align: left;
    width: 200px;
    height: 200px;
}

main section img {
    width: 100%;
}

main section p {
    font-size: larger;
}

footer {
    display: block;
    background-color: var(--footer-color);
    color: white;
    width: 100vw;
    margin-top: 20px;
    padding: 9px;
    box-shadow: inset 0px 2px 7px 1px var(--shadow-color);
}

footer aside {
    text-align: right;
}

footer aside p {
    display: inline-block;
}